#main-cont {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 2fr 1fr;
    border:rgb(163, 163, 163) solid 3px;
    max-width: 1000px;
    max-height: 600px;
    padding: 50px;
    align-items: center;
}
#dev-skills {
    background-color: rgba(108, 187, 79, 0.8);
    padding: 5px;
    color: white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skill-list {
    color:rgba(247, 158, 75, 0.8);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
li::marker {
    content: "X";
    color: rgb(235, 94, 94);
}
#inputs {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: auto;
}
#inputs input {
    border:rgba(108, 187, 79, 0.8) solid 2px;
    width: 70%;
    outline: none;
    height: 30px;
}
#inputs button {
    background-color: white;
    border:rgba(108, 187, 79, 0.8) solid 2px;
    height: 36px;
    color:rgba(108, 187, 79, 0.8);
    cursor: pointer;
}